@use '_mixins'

@use '_variables'

@import 'animation'

.aside_container
    display: flex
    flex-direction: column

    width: 100vw

    margin-top: 100px

    &_coments
        display: flex
        flex-direction: column

        max-width: variables.$max-width
        min-width: variables.$min-width

        margin: 0 auto

        row-gap: 50px

        padding: 10px

        margin-bottom: 25px

        &_title
            font-size: 2.7em
            font-weight: 700

            color: variables.$prominence-color-darkblue

            animation: endent-contend-loading 1s ease-in-out

            text-align: center

            @include mixins.redimention_768()
                font-size: 2em

            @include mixins.redimention_568()
                font-size: 1.5em

        &_list
            display: flex
            justify-content: space-between
            align-items: center
            
            animation: endent-contend-loading 1s ease-in-out

            overflow: hidden

            column-gap: 20px

            &_container
                min-width: 32%

                position: relative

                display: flex
                flex-direction: column
                align-items: center

                row-gap: 20px

                @include mixins.redimention_993()
                    min-width: 48%

                @include mixins.redimention_768
                    min-width: 98%

                        

                &_img
                    width: 80px
                    height: auto

                &_title
                    color: variables.$prominence-color-darkblue

                &_text
                    text-align: center

        &_btn
            @include mixins.btn_getStart ()

            margin: 0 auto

            transition: 1s

            &:hover
                background-color: variables.$prominence-color-orangered-hover

                transform: scale(1.05)

    &_msg_finish
        height: 200px
        width: 100%

        @include mixins.bg_img()
        background-image: url(../images/bg-simplify-section-desktop.svg)
        background-color: variables.$prominence-color-orangered

        display: flex
        align-items: center
        justify-content: space-between

        color: variables.$color-4

        animation: loading 1s ease-in-out

        @include mixins.redimention_568
            flex-direction: column

            padding: 25px
        

        &_title
            font-size: 2.4em
            width: max-content

            position: relative
            left: 10%

            @include mixins.redimention_768()
                font-size: 2em

                left: 20px

            @include mixins.redimention_568()
                font-size: 1.5em

                left: 0px

        &_btn
            @include mixins.btn_getStart ()
            background-color: variables.$color-4
            color: variables.$prominence-color-orangered

            margin-right: 10%

            transition: 1s

            @include mixins.redimention_768()

                margin-right: 20px

            &:hover
                color: variables.$prominence-color-orangered-hover

                transform: scale(1.05)
