@use '_mixins'

@use '_variables'

@import 'animation'

@import 'reset'

@import 'fonts'

@import 'header'

@import 'main'

@import 'aside'

@import 'footer'

html
    width: 100vw
    min-height: 100vh
    height: 100%

    overflow-x: hidden

    font-family: 'Be Vietnam Pro', sans-serif

    @include mixins.bg_img()
    background-size: 100vw
    background-position-x: 40vw
    background-position-y: 110%
    background-image: url(../images/bg-tablet-pattern.svg)

    @include mixins.redimention_993()
        background-position-x: 25vw
        background-position-y: -800%
        

    body
        animation: loading 2s ease-out

        background-color: variables.$color-4

        display: flex
        flex-direction: column
        align-items: center

        scroll-behavior: smooth

        .text
            color: variables.$color-1

            line-height: 24px

            letter-spacing: 1px
